#ignore everything
*

#Exceptions
#subdirectories
!*/
#.gitignore
!.gitignore

#verilog
!*.v
!*.bit
!*.ucf
!*.xise

#scripts
!*.sh

#c++
!*.c
!*.cpp
!*.h
!*.hpp

#Exceptions to the exceptions
/cpu/isim
/ps2Controller/isim





