#ignore everything
*

#...except all of this stuff
#subdirectories
!*/

#.gitignore
!.gitignore

#verilog
!*.v

#xilinx
!*.bit
!*.ucf
!*.xise
!*.wcfg

#cpu mem file
!*.dat

#scripts
!*.sh

#c++
!*.c
!*.cpp
!*.h
!*.hpp

#cSharp
!*.cs

#Any executables in the "tools" dir
!/tools/*/*.exe

#asm
!*.asm

#Exceptions to the exceptions (specifically exclude)
/*/isim
/*/netgen
/*/backup
#Two levels deep for the /mem/ directory
/*/*/isim
/*/*/netgen
/*/*/backup





