NET "clk50MHz" LOC = "B8";
# Timing constraing for clock @ 50MHz
NET "clk50MHz" PERIOD = 20;
#NET "clk25MHz" PERIOD = 40; 

//Micron SRAM control signals
NET "moe_L" LOC = "T2";
NET "mwe_L" LOC = "N7";
NET "madv_L" LOC = "J4";
NET "mclk" LOC = "H5";
NET "mub_L" LOC = "K4";
NET "mlb_L" LOC = "K5";
NET "mce_L" LOC = "R6";
NET "mcre" LOC = "P7";

#Address bus
NET "maddr<1>" LOC = "J1";
NET "maddr<2>" LOC = "J2";
NET "maddr<3>" LOC = "H4";
NET "maddr<4>" LOC = "H1";
NET "maddr<5>" LOC = "H2";
NET "maddr<6>" LOC = "J5";
NET "maddr<7>" LOC = "H3";
NET "maddr<8>" LOC = "H6";
NET "maddr<9>" LOC = "F1";
NET "maddr<10>" LOC = "G3";
NET "maddr<11>" LOC = "G6";
NET "maddr<12>" LOC = "G5";
NET "maddr<13>" LOC = "G4";
NET "maddr<14>" LOC = "F2";
NET "maddr<15>" LOC = "E1";
NET "maddr<16>" LOC = "M5";
NET "maddr<17>" LOC = "E2";
NET "maddr<18>" LOC = "C2";
NET "maddr<19>" LOC = "C1";
NET "maddr<20>" LOC = "D2";
NET "maddr<21>" LOC = "K3";
NET "maddr<22>" LOC = "D1";
#NET "maddr<23>" = "K6";

#Data bus
NET "mem_data<0>" LOC = "L1";
NET "mem_data<1>" LOC = "L4";
NET "mem_data<2>" LOC = "L6";
NET "mem_data<3>" LOC = "M4";
NET "mem_data<4>" LOC = "N5";
NET "mem_data<5>" LOC = "P1";
NET "mem_data<6>" LOC = "P2";
NET "mem_data<7>" LOC = "R2";
NET "mem_data<8>" LOC = "L3";
NET "mem_data<9>" LOC = "L5";
NET "mem_data<10>" LOC = "M3";
NET "mem_data<11>" LOC = "M6";
NET "mem_data<12>" LOC = "L2";
NET "mem_data<13>" LOC = "N4";
NET "mem_data<14>" LOC = "R3";
NET "mem_data<15>" LOC = "T1";

#LED out
#NET "debug_rd4<7>" LOC = "R4";
#NET "debug_rd4<6>" LOC = "F4";
#NET "debug_rd4<5>" LOC = "P15";
#NET "debug_rd4<4>" LOC = "E17";
#NET "debug_rd4<3>" LOC = "K14"; 
#NET "debug_rd4<2>" LOC = "K15";
#NET "debug_rd4<1>" LOC = "J15";
#NET "debug_rd4<0>" LOC = "J14";

#Reset
NET "reset" LOC = "R17";

#Debug register select
NET "debug_ra4<0>" LOC = "G18";
NET "debug_ra4<1>" LOC = "H18";
NET "debug_ra4<2>" LOC = "K18";
NET "debug_ra4<3>" LOC = "K17";
NET "debug_ra4<4>" LOC = "L14";

#audio co-processor audio output
NET audio_out<0> LOC = M15; //(pmod 4
NET audio_out<1> LOC = L17; //pmod 3 
NET audio_out<2> LOC = K12; //pmod 2
NET audio_out<3> LOC = L15; //pmod 1
NET audio_out<4> LOC = K13; //pmod 7
NET audio_out<5> LOC = L16; //pmod 8
NET audio_out<6> LOC = M14; //pmod 9
NET audio_out<7> LOC = M16; //pmod 10

# UART
NET "tx" LOC = "P9";
NET "rx" LOC = "U6";

# PS/2
NET "clk_ps2" LOC = "R12";
NET "ps2_data_in" LOC = "P11";
# Fix PAR error
NET "clk_ps2" CLOCK_DEDICATED_ROUTE = FALSE;