NET "clk100MHz_in" LOC = "V10";

NET "clk100MHz_in" TNM_NET = "clk100MHz_in";
TIMESPEC "TS_clk100MHz_in" = PERIOD "clk100MHz_in" 8ns HIGH 50%;

//Micron SRAM control signals
NET "moe_L" LOC = "L18";
NET "mwe_L" LOC = "M16";
NET "madv_L" LOC = "H18";
NET "mclk" LOC = "R10";
NET "mub_L" LOC = "K15";
NET "mlb_L" LOC = "K16";
NET "mce_L" LOC = "L15";
NET "mcre" LOC = "M18";

#Address bus
# NET "maddr<0>" LOC = "NA";
NET "maddr<0>" LOC = "K18";
NET "maddr<1>" LOC = "K17";
NET "maddr<2>" LOC = "J18";
NET "maddr<3>" LOC = "J16";
NET "maddr<4>" LOC = "G18";
NET "maddr<5>" LOC = "G16";
NET "maddr<6>" LOC = "H16";
NET "maddr<7>" LOC = "H15";
NET "maddr<8>" LOC = "H14";
NET "maddr<9>" LOC = "H13";
NET "maddr<10>" LOC = "F18";
NET "maddr<11>" LOC = "F17";
NET "maddr<12>" LOC = "K13";
NET "maddr<13>" LOC = "K12";
NET "maddr<14>" LOC = "E18";
NET "maddr<15>" LOC = "E16";
NET "maddr<16>" LOC = "G13";
NET "maddr<17>" LOC = "H12";
NET "maddr<18>" LOC = "D18";
NET "maddr<19>" LOC = "D17";
NET "maddr<20>" LOC = "G14";
NET "maddr<21>" LOC = "F14";
NET "maddr<22>" LOC = "C18";

#Data bus
NET "mem_data<0>" LOC = "R13";
NET "mem_data<1>" LOC = "T14";
NET "mem_data<2>" LOC = "V14";
NET "mem_data<3>" LOC = "U5";
NET "mem_data<4>" LOC = "V5";
NET "mem_data<5>" LOC = "R3";
NET "mem_data<6>" LOC = "T3";
NET "mem_data<7>" LOC = "R5";
NET "mem_data<8>" LOC = "N5";
NET "mem_data<9>" LOC = "P6";
NET "mem_data<10>" LOC = "P12";
NET "mem_data<11>" LOC = "U13";
NET "mem_data<12>" LOC = "V13";
NET "mem_data<13>" LOC = "U10";
NET "mem_data<14>" LOC = "R8";
NET "mem_data<15>" LOC = "T8";

#LED out
#NET "debug_rd4<7>" LOC = "R4";
#NET "debug_rd4<6>" LOC = "F4";
#NET "debug_rd4<5>" LOC = "P15";
#NET "debug_rd4<4>" LOC = "E17";
#NET "debug_rd4<3>" LOC = "K14"; 
#NET "debug_rd4<2>" LOC = "K15";
#NET "debug_rd4<1>" LOC = "J15";
#NET "debug_rd4<0>" LOC = "J14";

#Reset
NET "reset" LOC = "T5";

#Debug register select
NET "debug_ra4<0>" LOC = "T10";
NET "debug_ra4<1>" LOC = "T9";
NET "debug_ra4<2>" LOC = "V9";
NET "debug_ra4<3>" LOC = "M8";
NET "debug_ra4<4>" LOC = "N8";

#audio co-processor audio output
NET audio_out<0> LOC = P11; //(pmod 4
NET audio_out<1> LOC = N10; //pmod 3 
NET audio_out<2> LOC = V12; //pmod 2
NET audio_out<3> LOC = T12; //pmod 1
NET audio_out<4> LOC = M10; //pmod 7
NET audio_out<5> LOC = N9; //pmod 8
NET audio_out<6> LOC = U11; //pmod 9
NET audio_out<7> LOC = V11; //pmod 10

# UART
NET "tx" LOC = "N17";
NET "rx" LOC = "N18";

# PS/2
#NET "clk_ps2" LOC = "R12";
#NET "ps2_data_in" LOC = "P11";
# Fix PAR error
#NET "clk_ps2" CLOCK_DEDICATED_ROUTE = FALSE;

# VGA
NET hsync LOC = N6;
NET vsync LOC = P7;

NET rgb<7> LOC = U7;
NET rgb<6> LOC = V7;
NET rgb<5> LOC = N7;
NET rgb<4> LOC = P8;
NET rgb<3> LOC = T6;
NET rgb<2> LOC = V6;
NET rgb<1> LOC = R7;
NET rgb<0> LOC = T7;
