# See Nexys2 manual for pin assignments
NET "moe_L" = "T2";
NET "mwe_L" = "N7";
NET "madv_L" = "J4";
NET "mclk" = "H5";
NET "mub_L" = "K4";
NET "mlb_L" = "K5";
NET "mce_L" = "R6";
NET "mcre" = "P7";
NET "m_wait" = "F5";