# See Nexys2 manual for pin assignments
NET "clk50MHz" LOC = "B8";
NET "clk50MHz" PERIOD = 20;

NET "moe_L"  LOC = "T2";
NET "mwe_L"  LOC = "N7";
NET "madv_L" LOC = "J4";
NET "mclk"   LOC = "H5";
NET "mub_L"  LOC = "K4";
NET "mlb_L"  LOC = "K5";
NET "mce_L"  LOC = "R6";
NET "mcre"   LOC = "P7";
NET "mwait"  LOC = "F5";

#Address bus
# Addr 0 not connected, see user manual.
NET "maddr<1>" LOC = "J1";
NET "maddr<2>" LOC = "J2";
NET "maddr<3>" LOC = "H4";
NET "maddr<4>" LOC = "H1";
NET "maddr<5>" LOC = "H2";
NET "maddr<6>" LOC = "J5";
NET "maddr<7>" LOC = "H3";
NET "maddr<8>" LOC = "H6";
NET "maddr<9>" LOC = "F1";
NET "maddr<10>" LOC = "G3";
NET "maddr<11>" LOC = "G6";
NET "maddr<12>" LOC = "G5";
NET "maddr<13>" LOC = "G4";
NET "maddr<14>" LOC = "F2";
NET "maddr<15>" LOC = "E1";
NET "maddr<16>" LOC = "M5";
NET "maddr<17>" LOC = "E2";
NET "maddr<18>" LOC = "C2";
NET "maddr<19>" LOC = "C1";
NET "maddr<20>" LOC = "D2";
NET "maddr<21>" LOC = "K3";
NET "maddr<22>" LOC = "D1";
#NET "maddr<23>" LOC = "K6";

#Data bus
NET "mem_data<0>" LOC = "L1";
NET "mem_data<1>" LOC = "L4";
NET "mem_data<2>" LOC = "L6";
NET "mem_data<3>" LOC = "M4";
NET "mem_data<4>" LOC = "N5";
NET "mem_data<5>" LOC = "P1";
NET "mem_data<6>" LOC = "P2";
NET "mem_data<7>" LOC = "R2";
NET "mem_data<8>" LOC = "L3";
NET "mem_data<9>" LOC = "L5";
NET "mem_data<10>" LOC = "M3";
NET "mem_data<11>" LOC = "M6";
NET "mem_data<12>" LOC = "L2";
NET "mem_data<13>" LOC = "N4";
NET "mem_data<14>" LOC = "R3";
NET "mem_data<15>" LOC = "T1";

# uart
NET "tx" LOC = "P9";
NET "rx" LOC = "U6";